.history {
	padding-top: 60px;
	width: 100%;
	// .history__row
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: start;
		gap: 20px;
	}
	// .history__left
	&__left {
		max-width: 354px;
	}
	// .history__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: 14px;
	}
	// .history__item
	&__item {
		transition: all 0.3s ease-in;
		display: flex;
		align-items: center;
		gap: 10px;
		color: #b3b3b3;
		svg {
			path {
				fill: #b3b3b3;
			}
		}
	}
	.history__item.active {
		color: #000000;
		transition: all 0.3s ease-in;
		svg {
			path {
				fill: #ff9908;
				transition: all 0.3s ease-in;
			}
		}
	}
	// .history__icon
	&__icon {
	}
	// .history__text
	&__text {
		font-size: 26px;
		font-weight: 600;
		line-height: 33px;
	}
	// .history__right
	&__right {
		position: relative;
	}
	// .history__right-text
	&__right-text {
		font-size: 52px;
		line-height: 66px;
		max-width: 410px;
	}
	// .history__right-decor
	&__right-decor {
		position: absolute;
		right: 0;
		bottom: -20px;
	}
}
