/* Средние экраны (ноутбуки) */
@media (max-width: 1367px) {
	/* Стили для ноутбуков */
}

/* Малые экраны (планшеты в горизонтальной ориентации) */
@media (max-width: 1280px) {
	/* Стили для офисных мониторов */
	.nav__list {
		gap: 25px;
	}
	.nav__item {
		font-size: 20px;
	}
	.header__logo {
		max-width: 200px;
	}
	.head__text {
		font-size: 36px;
		line-height: 42px;
	}
	.head__link {
		gap: 10px;
		img {
			width: 25px;
			height: 25px;
		}
	}
	.content__inner {
		flex-direction: column;
		gap: 24px;
	}
	.content__left,
	.content__right {
		max-width: 100%;
	}
	.content__list {
		display: flex;
		flex-wrap: wrap;
	}
}

/* Малые экраны (планшеты в горизонтальной ориентации) */
@media (max-width: 1024px) {
	/* Стили для планшетов */
	.header__row {
		gap: 20px;
	}
	.header__nav {
		display: none;
	}
	.swiper-slide {
		display: flex;
		align-content: center;
	}
	.photo-gallery__item {
		padding: 13px 0;
	}
	.settings-form {
		flex-direction: column;
	}
}

@media (max-width: 992px) {
	.registration-container {
		padding-top: 100px;
	}
	.step {
		max-width: clamp(20.938rem, -4.019rem + 106.48vw, 62rem);
		label {
			margin-bottom: 20px;
		}
	}
	.step__top {
		justify-content: center;
    margin-bottom: 40px;
		img {
			max-width: 82px;
			height: 2px;
		}
		.line-2 {
			max-width: 26px;
		}
	}
	.step__title,
	.step__level,
	.step__subtitle {
		font-size: 22px;
		line-height: 26px;
	}
	.step__level {
		color: #ff9fcd;
	}
	.step__center {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
	}
	.step__btn {
		max-width: clamp(18.438rem, 5.332rem + 55.92vw, 40rem);
	}
	.next {
		max-width: clamp(18.438rem, 5.332rem + 55.92vw, 40rem);
		margin: 0 auto;
	}
	.login-link {
		max-width: clamp(18.438rem, 5.332rem + 55.92vw, 40rem);
		font-size: clamp(0.875rem, 0.799rem + 0.32vw, 1rem);
		margin-left: auto;
		margin-right: auto;
		a {
			color: #ff9fcd;
		}
	}
	.step__inner {
		max-width: clamp(18.438rem, 5.332rem + 55.92vw, 40rem);
	}
	.step__form {
		grid-template-columns: 1fr;
		gap: 10px;
	}
	.step__input {
		max-width: 100%;
	}
	.step-mobile-title {
		display: none;
	}
  .back-button {
    top: 20px;
    left: 20px;
  }
}

/* Смартфоны и планшеты в вертикальной ориентации */
@media (max-width: 768px) {
	/* Стили для фаблетов */

	.header {
		margin-bottom: 20px;
	}
	.logo__link {
		max-width: 126px;
	}
	.account {
		gap: 8px;
		img {
			width: 24px;
			height: 24px;
		}
	}
	.account__text {
		font-size: 12px;
		line-height: 12px;
		text-align: right;
	}
	.head {
		padding-bottom: 20px;
	}
	.head__inner {
		flex-direction: column;
		align-items: start;
		gap: 15px;
	}

	.head__link {
		img {
			// display: none;
		}
	}
	.head__text {
		font-size: 22px;
		line-height: 28px;
	}
	.head-menu__list {
		gap: 2px;
	}
	.head-menu__item {
		font-size: 16px;
	}
	.head-menu__btn:not(:last-child) {
		margin-bottom: 5px;
	}
	.content__top {
		margin-bottom: 10px;
	}
	.content__list {
		display: grid;
		grid-template-columns: repeat(4, minmax(79px, 1fr));
		gap: 7px;
	}
	.content__item {
		padding: 13px 0;
	}
	.video-wrapper {
		padding: 13px 0;
	}
	.videos {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(79px, 1fr));
		gap: 7px;
	}
	.video-card {
		padding: 13px 0;
	}
	.play-button-video {
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		svg {
			width: 11px;
			height: 12px;
		}
	}
	.flex {
		justify-content: space-between;
	}
	.head__right,
	.head__left {
		width: 100%;
	}
	.head__left {
		justify-content: space-between;
	}
	.head__link-line {
		display: none;
	}
	.head__link-text {
		font-size: 22px;
		line-height: 28px;
	}
	.photo-gallery__list {
		display: grid;
		grid-template-columns: repeat(4, minmax(79px, 1fr));
		gap: 10px;
	}
	.swiper-slide {
		img {
			max-width: 600px;
			max-height: 458px;
		}
	}
	.download {
		right: 50%;
		transform: translateX(50%);
		padding: 10px 0;
		width: 144px;
		justify-content: center;
		span {
			font-size: 14px;
			line-height: 17px;
		}
		svg {
			width: 12px;
			height: 12px;
		}
	}
	.history {
		padding-top: 20px;
	}
	.history__row {
		flex-direction: column-reverse;
		gap: 35px;
	}
	.history__right-text {
		font-size: 22px;
		line-height: 28px;
		max-width: 171px;
	}
	.history__right-decor {
		max-width: 129px;
		bottom: -25px;
		svg {
			width: 100%;
		}
	}
	.history__text {
		font-size: 20px;
		line-height: 25px;
	}
	.history__icon {
		width: 30px;
		height: 30px;
	}
	.moments-book .book__title,
	.book__title {
		font-size: 24px;
		line-height: 30px;
	}
	.book__text {
		font-size: 16px;
		line-height: 30px;
		max-width: 285px;
		text-wrap: pretty;
	}
	.settings__top {
		margin-bottom: 20px;
	}
	.back-pages {
		display: none;
	}
	.settings__title {
		font-size: 22px;
		line-height: 28px;
	}
	.settings__btn {
		font-size: 12px;
		line-height: 16px;
		padding: 12px;
	}
	.settings-form__form {
		grid-template-columns: repeat(1, minmax(335px, 1fr));
	}
	.settings-form__fluid {
		max-width: 100%;
	}
	.settings-form__input {
		max-width: 100%;
	}
}

/* Смартфоны средней ширины */
@media (max-width: 480px) {
	/* Стили для смартфонов */
	.photo-gallery__list {
		grid-template-columns: repeat(3, minmax(79px, 1fr));
	}
	.swiper-slide {
		img {
			max-width: 375px;
			max-height: 258px;
		}
	}
	.video .content__video {
		height: 100%;
	}
}

@media (max-width: 390px) {
	.content__list {
		grid-template-columns: repeat(3, minmax(79px, 1fr));
	}
}

/* Минимальная ширина экрана */
@media (max-width: 320px) {
	/* Стили для устаревших устройств */
}
