.flex {
	display: flex;
	align-items: center;
	gap: 10px;
}

.hidden {
	display: none;
}

.wrapper {
	height: 100%;
}

.main {
	position: relative;
	padding-bottom: 40px;
}

.no-scroll {
	overflow: hidden;
}